
.fifth-page{
  h2{
    background-color: #627EDC;
    // width:10px ;
  }
  height: 120vh;
  padding-top: -19px;
  // background-color: #fff;
 
  .first-texts{
    text-align: center;
  }

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
 box-sizing: border-box;
}

body {
  background: #3952a3;
  color: #485e74;
  line-height: 1.6;
  font-family: 'Yantramanav', sans-serif;
  padding: 1em;
  // background: #4CAF50;
}

.container {
  position: absolute;
  top:0;
  left:0;
  max-width: 1170px;
  padding-bottom: 200px;
  
  width: 100%;
  margin: 0 auto;
  position: relative;
}
ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.brand span {
  color: #ffffff;
}

.wrapper {
  // box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: #C3C9DD;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: #dcdfea;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #627EDC;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #627EDC;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
  .wrapper {
    margin-top: -500px;
    // padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

}
.fourth-page{
  h3{
    span{
      color: #627EDC;
    }
  }
  p{
    // padding: 20px;background-color: red;
    padding-top: 50px;
    color: black;
    // background-color: black;
  }
  padding: 100px;

  .section-2{
    margin-left: 50px;
    padding-top: 70px;
    display: flex;
    .left-side{
      width: 50%;
      img{
        height: 400px;
        width: 550px;
      }
    }
    .right-side{
      width: 50%;
      text-align: right;
      margin-right: 50px;
    }
  }
  h2{
    text-align: center;
    padding: 5px;
    background-color: #627EDC;
    height: 5px;
    border-radius: 10px;
   

    span{
      color: white;
    }
    padding-bottom: 80px;
  }
  padding-top: 40px;
  .section-1{
    gap: 60px;
    h2{
      text-align: left;
      // padding-bottom: -90px;
      // margin-bottom: -10px;
  
    }
    display: flex;
    // gap:190px; 
    .right-side{
      
      width: 50%;
      img{
        height: 400px;
        width: 550px;
      }
    }
    .left-side{
      width: 50%;
      text-align: left;
      margin-left:50px;
    }
  }
  
}



.third-page{
  
  p{
    font-weight: 700;
    span{
      font-weight: 700;
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
    }
    margin-top: -14px;
    // background-color: #fff;
    text-align: center;
    span{
      color:blue
    }
  }
  Marquee{
   
  }
  h2{
    // height: 100vh;
    // background-color: red;
    font-size: 30px;
    color: white;

    text-align: center;
    padding-bottom: 30px;
    // color: blue;
    span{
      color: blue;
    }
  }
}








.first-page{
    margin-top: 87px;
    // background-color: red;
    overflow: hidden;

    .first-text{
    p{
        opacity: 50%;
        padding-bottom: 10px;
    }
    button{
      font-weight: 500;
      margin-bottom: 20px;
      background: transparent;
    }
    button a{
      text-decoration: none;
        margin-bottom: 19px;
        background-color: blue;
        color: white;
        padding: 8px;
        border-radius: 8px;
        // padding-bottom: 10p;
    }
        height: 88vh;
    // width: 70vw;
    padding-left:200px;
    padding-right: 200px;;
    text-align: center;
    padding-top: 40px;
    overflow: hidden;
    margin-bottom: -160px;
    }
    .large-img{
        img{
            height: 140px;
            width: 100vw;
        }
    }
    h4{
        padding-bottom: 27px;
    }
    // justify-content: space-around;
}


#second-page{

  padding-top: 50px;
  padding-bottom: 50px;
  // height:100vh;
    article {
      border: 2px solid black;
        // margin-top: -620px;
        --img-scale: 1.001;
        --title-color: black;
        --link-icon-translate: -20px;
        --link-icon-opacity: 0;
        position: relative;
        border-radius: 16px;
        box-shadow: none;
        background: #fff;
        transform-origin: center;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        height: 500px;
        
      }
      
      article a::after {
        position: absolute;
        inset-block: 0;
        inset-inline: 0;
        cursor: pointer;
        content: "";
      }
      
      /* basic article elements styling */
      article h2 {
        margin: 0 0 18px 0;
        // font-family: "Bebas Neue", cursive;
        font-size: 1.9rem;
        letter-spacing: 0.06em;
        color: var(--title-color);
        transition: color 0.3s ease-out;
      }
      
      figure {
        margin: 0;
        padding: 0;
        aspect-ratio: 16 / 9;
        overflow: hidden;
      }
      
      article img {
        max-width: 100%;
        transform-origin: center;
        transform: scale(var(--img-scale));
        transition: transform 0.4s ease-in-out;
      }
      
      .article-body {
        padding: 24px;
        
      }
      
      article a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: #28666e;
      }
      
      article a:focus {
        outline: 1px dotted #28666e;
      }
      
      article a .icon {
        min-width: 24px;
        width: 24px;
        height: 24px;
        margin-left: 5px;
        transform: translateX(var(--link-icon-translate));
        opacity: var(--link-icon-opacity);
        transition: all 0.3s;
      }
      
      /* using the has() relational pseudo selector to update our custom properties */
      article:has(:hover, :focus) {
        --img-scale: 1.1;
        --title-color: #28666e;
        --link-icon-translate: 0;
        --link-icon-opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      }
      
      
      /************************ 
      Generic layout (demo looks)
      **************************/
      
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
        padding: 48px 0;
        font-family: "Figtree", sans-serif;
        font-size: 1.2rem;
        line-height: 1.6rem;
        background-image: linear-gradient(45deg, #7c9885, #b5b682);
        min-height: 100vh;
      }
      
      .articles {
        display: grid;
        max-width: 1200px;
        margin-inline: auto;
        padding-inline: 24px;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 24px;
      }
      
      @media screen and (max-width: 960px) {
        article {
          container: card/inline-size;
        }
        .article-body p {
          display: none;
        }
      }
      
      @container card (min-width: 380px) {
        .article-wrapper {
          display: grid;
          grid-template-columns: 100px 1fr;
          gap: 16px;
        }
        .article-body {
          padding-left: 0;
        }
        figure {
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
        figure img {
          height: 100%;
          aspect-ratio: 1;
          object-fit: cover;
        }
      }
      
      .sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0); 
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap; 
        width: 1px;
      }
    h3{
      span{
        color:blue;
      }
      //  height: 100vh;
      //  padding-top: 50px;
       text-align: center;
       font-size: 40px;
       padding-bottom: 30px;
      //  margin-bottom: -20px;
    }
}


// .maindiv{
//     display: flex;
//     .banner{
//         img{
//             height:600px;
//             left:0;
//             transform: translate(20%);
//         }
//     }
//     .slogan-text{
//         h6{
//             font-size: 18px;
//             opacity: 60%;
//             padding-top: 20px;
//             position: absolute;
//             left:116px;
//             // margin-top: 10px;
//         }
        
//         .buttons2 button{
//             span {
//                 background-color: blue;
//             color: white;
//             padding: 15px;
//             border-radius: 18px;
//             }
//             p{
//                 background-color: white;
//                 color: black;
//                 padding: 10px;
//                 border-radius: 18px;
//                 border:2px solid black;
//             }
//             margin-top: 80px;
//             font-weight: 700;
//             font-family: Arial, Helvetica, sans-serif;
//             padding: 5px;
//         }
//         margin-left: 10px;
//         h1{
//         font-size: 70px;
//         }
        
//     }
// }


