
.footer {
   
    position: relative;
    // top: 3000px;
    bottom: 0;
    left: 0;
    width: 100%;
    .footer-content {

        padding: 50px 20px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-flow: wrap;
        gap: 200px;
        align-items: center;
       
        .col {
            a{
                text-decoration: none;
                color:black;
            }
            max-width: 300px;
            &:nth-child(3) {
                width: 150px;
               
            }
            .title {
                a{
                    text-decoration: none;

                }
                margin-bottom: 20px;
                font-size: 20px;
            }
            .text {
                color: rgba(0, 0, 0, 0.5);
                font-size: 14px;
            }
            .c-item {
                display: flex;
                margin-bottom: 10px;
                svg {
                    flex-shrink: 0;
                    font-size: 14px;
                    margin-right: 10px;
                    margin-top: 4px;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
            span {
                &.text {
                    display: block;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }
    }
    .bottom-bar {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        .bottom-bar-content {
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 10px;
           
            .text {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}