 button{
        text-decoration: none;
        border: none;
        background-color: white;
    }

  .navbar{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: fixed;
    top:0;
    background-color: white;
    z-index: 999;

    .maindiv{
    background-color: white;
    margin-bottom: 10px;
    // z-index: 9999;
    // position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
   
    margin-right: 128px;
    padding-left: 100px;
    gap: 80px;
    .login-section button{
        position: relative;
        margin-left: 90px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        span{
            background-color: blue;
            color: white;
            padding: 15px;
            border-radius: 18px;
        }
    }
   
    }
}


 .Content button {
        width: 130px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        span{
            color: blue;
        }}

